
<img src="http://blog.nowgrocery.com/wp-content/themes/nowblog/img/logo.png"
alt="Italian Trulli"><br><br>



 <h1 style="text-align:center" ><u> <b><mark>::PRODUCT DETAILS::</mark></b></u></h1><br><br>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Bitter&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"> 
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">   -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<!-- <script sec="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.js"></script> 


<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>  -->
 


<div class="container">

    <div class="heading">
      

    </div>
  
<!--   
    <div class="editForm col-6 mx-auto my-5"> -->
  
      <!-- <div
      *ngIf="alert"
      class="alert my-4 alert-primary alert-dismissible fade show"
      role="alert"
     > -->
      <!-- <div *ngIf="!isupdate">
        <strong>Success</strong> Your data has been Submitted.
      </div> -->
  
  
  
      <!-- <div>
        <strong>Success</strong> Your data has been Successfully send !!!
      </div>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div> 
   -->
     <!-- <div
      *ngIf="deleteAlert"
      class="alert my-4 alert-primary alert-dismissible fade show"
      role="alert"
     > -->
      <!-- <strong>Success</strong> Your data has been Deleted !!!
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button> -->
    <!-- </div>  -->
    <!-- <div class="form-group" *ngIf="editClick"> 
  <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
     

      <label class="requried"><b>Manufacturer Name:</b></label>
      <input type="text" class="form-control" name="manufacturerName" aria-describedby="manufacturerNameHelp" ngModel><br>
      <style>
      .requried:before {
         content:"*";
         color: red;
      }
      
      </style>
      <label class="requried"><b>Description:</b></label>
      <input type="text" class="form-control" name="description" ngModel><br>
      <button type="button" class="btn btn-primary" (click)="onSubmit(userPost.value)"><b>Add</b></button>
      
         </form> -->

        
   <div class="card m-8 p-6">
    <div class="card-body">
<div class="form-group" *ngIf="editClick == true"> 
<form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
  

<label style="color:rgb(116, 36, 243)" ><b>Manufacturer Name:</b></label>
<input type="text" class="form-control" name="manufacturerName" aria-label="manufacturerNameHelp" ngModel><br>
<style>
.requried:before {
content:"*";
color: red;
}

</style>
<label style="color:rgb(116, 36, 243)"><b>Description:</b></label>
<input type="text" class="form-control" name="description"  aria-label="descriptionHelp" ngModel><br>
<button style="color:rgb(0, 0, 0)"  type="button" class="btn btn-primary" (click)="onSubmit(userPost.value)"><b>ADD</b></button>

</form>
</div>
         <div class="form-group" *ngIf="editClick == false">
  <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
<label for="manufacturerName">Manufacturer Name</label>
<input type="text" class="form-control" name="manufacturerName" [(ngModel)]="manDetails.manufacturerName"><br>
<label for="description">Description:</label>
<input type="text" class="form-control" name="description" [(ngModel)]="manDetails.description"><br>
<button style="color:black" type="button" class="btn btn-primary "(click)="onEdit()"><b>UPDATE</b></button>


 
 </form>
 
</div> 
</div>
</div>
   <br>
   <br>
       
        
  
  
    <div class="dataTable">
      <table [dtTrigger]="dtTrigger" datatable class="row-border hover" [dtOptions]="dtOptions">
        <thead>
          <tr>
            <th><b>#</b></th>
            <th>MANUFACTURER NAME</th>
            <th>DESCRIPTION</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
           <tr *ngFor="let data of getAllDatas; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ data.manufacturerName }}</td>
            <td>{{ data.description }}</td>
            <td>
              <i class="fa fa-trash" style="font-size: 18px " (click)="deleteItem(data.manufacturerId)"></i>&nbsp;
              <i style='font-size:15px' class="fas fa-edit" (click)="editProduct(data)"></i> 
               <!-- <i class="fa fa-pencil" (click)="onEdit(data.manufacturerId)"  style="font-size: 18px"></i>  -->
             </td>
          </tr>
        </tbody>

      </table>
      <script>
      $('#example').dataTable( {
        paging: false,
        searching: false
    } );
    </script>
  
  <router-outlet></router-outlet>
  <!-- &nbsp; -->